.work {
    padding-bottom: 40px;

    @media (min-width: 979px) {
        padding-bottom: 120px;
    }

    &__subheading {
        font-size: 11.63px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: 28px;
        font-weight: 500;
        width: 100%;
        display: block;
    }

    &__heading {
        font-size: 40px;
        font-weight: 700;

        @media (min-width: 979px) {
            margin: 0 auto;
            font-size: 59.8px;
            line-height: 57.6px;
            margin-bottom: 25px;
            margin-top: 11px;
        }
    }

    &__descr {
        color: $grey-text-color;
        font-size: 20px;
        margin-top: 10px;
    }

    &__images {
        margin-top: 30px;

        img {
            width: 100%;
            min-height: 613px;
            object-fit: cover;
            border-radius: 20px;
        }

        @media (min-width: 979px) {
            margin-top: 60px;
            margin-left: -16px;
            margin-right: -16px;
        }
    }

    .slick-slide {
        margin: 0 16px;
    }

    .slick-dots {
        margin-top: 43px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;

        @media (min-width: 979px) {
            flex-direction: row;
        }
    }

    &__head {
        max-width: 1193px;
    }

    &__arrows {
        display: flex;
        gap: 15px;
    }
}